{% extends 'dashboard/includes/dash_base.html' %}

{% block body%}

<div class="container mt-5">
    <h2>Create a Special Offer</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.name.label_tag }} <!-- Label for the field -->
            {{ form.name }} <!-- Form field itself -->
            {% if form.name.errors %}
                <div class="alert alert-danger">
                    {{ form.name.errors }}
                </div>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">Create Special Offer</button>
    </form>
</div>

<hr>




{% endblock body%}
