
{% extends 'dashboard/includes/dash_base.html' %}

{% block body%}

<div class="container mt-5">
 <!-- Add New Feature Form -->
 <h2 class="mb-4">Add New Feature</h2>
 <form method="post" enctype="multipart/form-data" action="{% url 'dashboard:create_feature' %}">
    <!-- CSRF Token -->
     {% csrf_token %}

     <div class="mb-3">
         <label for="Title" class="form-label">Title</label>
         <input type="text" class="form-control" id="title" name="title" placeholder="Enter title" required>
     </div>
     <div class="mb-3">
         <label for="Description" class="form-label">Description</label>
         <input type="text" class="form-control" id="Description" name="description" placeholder="Enter Description" required>
     </div>
     <div class="mb-3">
         <label for="Icon" class="form-label">Icon</label>
         <input type="text" class="form-control" id="Icon" name="icon" placeholder="Enter Icon" required>
     </div>

     <!-- Submit Button -->
     <div class="d-grid gap-2">
         <button type="submit" class="btn btn-primary">Add Feature</button>
     </div>
 </form>
</div>
<hr>




{% endblock body%}
