{% extends 'base.html' %}
{% load static %}

{% block container %}
<section style="background-color: #eee; padding: 50px 0;">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4 offset-lg-4">
                <div class="card mb-4" style="border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                    <div class="card-body text-center">
                        <img src="{% if user_profile.avatar %}{{ user_profile.avatar.url }}{% else %}{% static 'default-avatar.png' %}{% endif %}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px; border: 5px solid #fff; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                        <h5 class="my-3" style="font-weight: bold;">{{ user_profile.first_name }}</h5>
                        <p class="text-muted mb-1">{{ user_profile.email }}</p>
                        <p class="text-muted mb-4">{{ user_profile.role }}</p>
                        <div class="d-flex justify-content-center mb-2">
                            <button type="button" class="btn btn-primary" style="background-color: #007bff; border-color: #007bff; padding: 10px 20px; font-size: 16px;">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock container %}