{% extends 'dashboard/includes/dash_base.html' %}

{% block body %}
<div class="container mt-5">
    <!-- Update Moving Text Form -->
    <h2 class="mb-4">Update Moving Text</h2>
    <form method="post" enctype="multipart/form-data" action="{% url 'dashboard:edit_moveingtexts' moveing_text.id %}">
        <!-- CSRF Token -->
        {% csrf_token %}

        <!-- Moving Text Form Fields -->
        <div class="mb-3">
            <label for="text1" class="form-label">Text 1</label>
            {{ form.text1 }}
        </div>
        <div class="mb-3">
            <label for="text2" class="form-label">Text 2</label>
            {{ form.text2 }}
        </div>
        <div class="mb-3">
            <label for="text3" class="form-label">Text 3</label>
            {{ form.text3 }}
        </div>

        <!-- Submit Button -->
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
</div>
{% endblock body %}
