{% extends 'base.html' %}

{% block container %}

<main>

        {% if query %}
            <br>
            {% if results %}
                <div class="tp-wrapper">
                    <div class="row g-3 justify-content-center">
                        {% for product in results %}
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 d-flex justify-content-center">
                                <div class="product__item product__item-d">
                                    <div class="product__thumb fix">
                                        <div class="product-image w-img">
                                            <a href="{% url 'shop:product' product.id %}">
                                                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product__content-3">
                                        <h6><a href="{% url 'shop:product' product.id %}">{{ product.name }}</a></h6>
                                        <div class="rating mb-5">
                                            <ul>
                                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                            </ul>
                                            <span>(01 review)</span>
                                        </div>
                                        <div class="price mb-10">
                                            <span>$ {{ product.price }}</span>
                                        </div>
                                    </div>
                                    <div class="product__add-cart-s text-center">
                                        <button type="button" class="cart-btn d-flex mb-10 align-items-center justify-content-center w-100">
                                            Add to Cart
                                        </button>
                                        <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" data-bs-toggle="modal" data-bs-target="#productModalId">
                                            Quick View
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <p>No products found.</p>
            {% endif %}
        {% else %}
            <div class="tp-wrapper">
                <div class="row g-3 justify-content-center">
                    {% for i in products %}
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 d-flex justify-content-center">
                            <div class="product__item product__item-d">
                                <div class="product__thumb fix">
                                    <div class="product-image w-img">
                                        <a href="{% url 'shop:product' i.id %}">
                                            <img src="{{ i.image.url }}" alt="{{ i.name }}">
                                        </a>
                                    </div>
                                    <div class="product-action">
                                        <a href="#" class="icon-box icon-box-1" data-bs-toggle="modal" data-bs-target="#productModalId">
                                            <i class="fal fa-eye"></i><i class="fal fa-eye"></i>
                                        </a>
                                        <a href="#" class="icon-box icon-box-1">
                                            <i class="fal fa-heart"></i><i class="fal fa-heart"></i>
                                        </a>
                                        <a href="#" class="icon-box icon-box-1">
                                            <i class="fal fa-layer-group"></i><i class="fal fa-layer-group"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="product__content-3">
                                    <h6><a href="{% url 'shop:product' i.id %}">{{ i.name }}</a></h6>
                                    <div class="rating mb-5">
                                        <ul>
                                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                                        </ul>
                                        <span>(01 review)</span>
                                    </div>
                                    <div class="price mb-10">
                                        <span>$ {{ i.price }}</span>
                                    </div>
                                </div>
                                <div class="product__add-cart-s text-center">
                                    <button type="button" class="cart-btn d-flex mb-10 align-items-center justify-content-center w-100">
                                        Add to Cart
                                    </button>
                                    <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" data-bs-toggle="modal" data-bs-target="#productModalId">
                                        Quick View
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

</main>

    
{% endblock container %}
    