{% extends 'base.html' %}
{% load static %}

{% block container %}
    

    

    <main>
        <!-- page-banner-area-start -->
         
         {% for i in bannerarea %}
    
        <div class="page-banner-area page-banner-height" data-background="{{i.image.url}}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="page-banner-content text-center">
                            <h4 class="breadcrumb-title">Contact Us</h4>
                            <div class="breadcrumb-two">
                                <nav>
                                   <nav class="breadcrumb-trail breadcrumbs">
                                      <ul class="breadcrumb-menu">
                                         <li class="breadcrumb-trail">
                                            <a href="index.html"><span>Home</span></a>
                                         </li>
                                         <li class="trail-item">
                                            <span>{{i.title}}</span>
                                         </li>
                                      </ul>
                                   </nav> 
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- page-banner-area-end -->
         
        <!-- Contact Form start -->
        <h2>Contact Us</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Send Message</button>
        </form>
        
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        
        <!-- Contact Form end -->

        <!-- location-area-start -->
        <div class="location-area pt-70 pb-25">
            <div class="container">
                <div class="row mb-25">
                    <div class="col-xl-12">
                        <div class="abs-section-title text-center">
                            <span>LOCATION STORE</span>
                            
                            {% if location %}
                            <h4>{{location.first.title}}</h4>
                            <p>{{location.first.descr}}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="row">
                        {% for i in location %}
                            <div class="col-xl-3 col-lg-3 col-md-6">
                                <div class="location-item mb-30">
                                    <div class="location-image w-img mb-20">
                                        <img src="{{i.image.url}}" alt="">
                                    </div>
                                    <h6>{{i.address}}</h6>
                                    <div class="sm-item-loc sm-item-border mb-20">
                                        <div class="sml-icon mr-20">
                                            <i class="fal fa-map-marker-alt"></i>
                                        </div>
                                        <div class="sm-content">
                                            <span>Find us</span>
                                            <p>{{i.city}}, {{i.country}}</p>  
                                        </div>
                                    </div>
                                    <div class="sm-item-loc sm-item-border mb-20">
                                        <div class="sml-icon mr-20">
                                            <i class="fal fa-phone-alt"></i>
                                        </div>
                                        <div class="sm-content">
                                            <span>Call us</span>
                                            <p><a href="tel:+{{i.phone}}">{{i.phone}}</a></p>  
                                        </div>
                                    </div>
                                    <div class="sm-item-loc mb-20">
                                        <div class="sml-icon mr-20">
                                            <i class="fal fa-envelope"></i>
                                        </div>
                                        <div class="sm-content">
                                            <span>Mail us</span>
                                            <p><a href="mailto:{{i.email}}">{{i.email}}</a></p>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    
                    </div>
                </div>
            </div>
        </div>
        <!-- location-area-end -->

        <!-- cmamps-area-start -->
        <div class="cmamps-area">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1899531.5831083965!2d105.806381!3d21.58504!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x515f4860ede9e108!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBDw7RuZyBuZ2jhu4cgVGjDtG5nIHRpbiB2w6AgVHJ1eeG7gW4gdGjDtG5n!5e0!3m2!1sen!2sus!4v1644226635446!5m2!1sen!2sus"></iframe>
        </div>
        <!-- cmamps-area-end -->

        <!-- cta-area-start -->
       {% include 'cat.html' %}
        <!-- cta-area-end -->

    </main>
    {% endblock container %}
    