{% extends 'dashboard/includes/dash_base.html' %}

{% block body%}

<div class="container mt-5">
 <!-- Add New Slider Form -->
 <h2 class="mb-4">Add New Slider</h2>
 <form method="post" enctype="multipart/form-data" action="{% url 'dashboard:add_slider' %}">
     <!-- CSRF Token -->
     {% csrf_token %}

     <!-- Brand Name Dropdown -->
     <div class="mb-3">
         <label for="brandName" class="form-label">Brand Name</label>
         <select class="form-control" id="brandName" name="brand_id" required>
             {% for brand in brands %}
                 <option value="{{ brand.id }}">{{ brand.name }}</option>
             {% endfor %}
         </select>
     </div>

     <!-- Discount -->
     <div class="mb-3">
         <label for="discount" class="form-label">Discount</label>
         <input type="number" class="form-control" id="discount" name="discount" placeholder="Enter discount" required>
     </div>

     <!-- Sales -->
     <div class="mb-3">
         <label for="sales" class="form-label">Sales</label>
         <input type="number" class="form-control" id="sales" name="sales" placeholder="Enter sales details" required>
     </div>

     <!-- Discount Deals Dropdown -->

     <div class="mb-3">
         <label for="discountDeals" class="form-label">Discount Deals</label>
         <select class="form-control" id="discountDeals" name="discount_deals" required>
             {% for deal in deals %}
             <option value="{{ deal.id }}">{{ deal.delas }}</option>
             {% endfor %}
         </select>
     </div>
     <!-- Slider Image -->
     <div class="mb-3">
         <label for="sliderImage" class="form-label">Slider Image</label>
         <input class="form-control" type="file" id="sliderImage" name="slider_image" required>
     </div>

     <!-- Link -->
     <div class="mb-3">
         <label for="link" class="form-label">Link</label>
         <input type="url" class="form-control" id="link" name="link" placeholder="Enter URL" required>
     </div>

     <!-- Submit Button -->
     <div class="d-grid gap-2">
         <button type="submit" class="btn btn-primary">Add Slider</button>
     </div>
 </form>
</div>
<hr>




{% endblock body%}
